body div.container div.header p.Heading {
  font-size: 32px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 180px;
  height: 38px;
  position: relative;
  top: 15px;
  left: 380px;
}
body div.container div.header div.Line-1 {
  width: 350px;
  height: 60px;
  position: relative;
  top: 20px;
  left: 380px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body div.container div.header div.Line-1 p span {
  color: hsl(160, 100%, 30%);
  font-weight: bold;
}
body div.container div.header div.Line-2 {
  width: 270px;
  height: 60px;
  position: relative;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  top: 15px;
  left: 380px;
}
body div.container div.main {
  background-color: #666666;
  width: 1305px;
  height: 380px;
  position: relative;
  top: 25px;
  border: 1px solid #999999;
  border-top: 8px solid #999999;
}
body div.container div.main div.card {
  width: 630px;
  height: 250px;
  position: relative;
  top: 55px;
  left: 350px;
  color: black;
  border: 1px solid #999999;
  border-bottom: 8px solid #999999;
  background-color: whitesmoke;
}
body div.container div.main div.card p.Title {
  font-size: 24px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 380px;
  height: 40px;
  position: relative;
  top: 0px;
  left: 0px;
  color: black;
  background-color: aquamarine;
  margin: 10px 10px 10px -8px;
  border-bottom: 8px solid #CC9900;
  background-color: #FFBF00;
  padding-left: 30px;
}
body div.container div.main div.card div.card-line-1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 630px;
  height: 38px;
  position: relative;
  top: 0px;
  left: 20px;
}
body div.container div.main div.card div.card-line-2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 600px;
  height: 38px;
  position: relative;
  top: 50px;
  left: 20px;
}

@media (max-width: 768px) {
  body div.container div.header p.Heading {
    font-size: 32px;
    font-weight: bold;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    width: 180px;
    height: 38px;
    position: relative;
    top: 15px;
    left: 30px;
  }
  body div.container div.header div.Line-1 {
    width: 350px;
    position: relative;
    top: 20px;
    left: 30px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    word-wrap: break-word;
  }
  body div.container div.header div.Line-1 p span {
    color: hsl(160, 100%, 30%);
    font-weight: bold;
  }
  body div.container div.header div.Line-2 {
    width: 270px;
    position: relative;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    top: 15px;
    left: 30px;
    word-wrap: break-word;
  }
  body div.container div.main {
    background-color: #666666;
    width: 800px;
    height: 400px;
    position: relative;
    top: 25px;
    border: 1px solid #999999;
    border-top: 8px solid #999999;
  }
  body div.container div.main div.card {
    width: 768px;
    height: 250px;
    position: relative;
    top: 65px;
    left: 0px;
    color: black;
    border: 1px solid #999999;
    border-bottom: 8px solid #999999;
    background-color: whitesmoke;
    word-wrap: break-word;
  }
  body div.container div.main div.card p.Title {
    font-size: 24px;
    font-weight: bold;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    width: 380px;
    height: 40px;
    position: relative;
    top: 0px;
    left: 0px;
    color: black;
    background-color: aquamarine;
    margin: 10px 10px 10px 0px;
    border-bottom: 8px solid #CC9900;
    background-color: #FFBF00;
    padding-top: 5px;
    padding-left: 30px;
    word-wrap: break-word;
  }
  body div.container div.main div.card div.card-line-1 {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    width: 580px;
    position: relative;
    top: 0px;
    left: 0px;
    padding-left: 30px;
    word-wrap: break-word;
  }
  body div.container div.main div.card div.card-line-2 {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    width: 600px;
    position: relative;
    top: 50px;
    left: 0px;
    padding-left: 30px;
    word-wrap: break-word;
  }
}
@media (max-width: 390px) {
  body div.container div.header {
    height: 300vw;
  }
  body div.container div.header p.Heading {
    font-size: 20vw;
    font-weight: bold;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    text-size-adjust: auto;
    position: relative;
    top: 15vw;
    left: 30px;
  }
  body div.container div.header div.Line-1 {
    width: 150vw;
    font-size: 8vw;
    text-size-adjust: auto;
    position: relative;
    top: 20vw;
    left: 30px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    word-wrap: break-word;
  }
  body div.container div.header div.Line-1 p span {
    color: hsl(160, 100%, 30%);
    font-weight: bold;
  }
  body div.container div.header div.Line-2 {
    width: 150dvw;
    font-size: 8vw;
    position: relative;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 20vw;
    top: 27vw;
    left: 30px;
    word-wrap: break-word;
  }
  body div.container div.main {
    background-color: #666666;
    height: 500vw;
    position: relative;
    top: 382px;
    border: 1px solid #999999;
    border-top: 8px solid #999999;
  }
  body div.container div.main div.card {
    height: 350vw;
    position: relative;
    top: 65px;
    left: 0px;
    color: black;
    border: 1px solid #999999;
    border-bottom: 8px solid #999999;
    background-color: whitesmoke;
    word-wrap: break-word;
  }
  body div.container div.main div.card p.Title {
    font-size: 10vw;
    font-weight: bold;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    top: 0px;
    left: 0px;
    color: black;
    background-color: aquamarine;
    border-bottom: 3vw solid #CC9900;
    background-color: #FFBF00;
    padding-top: 5px;
    padding-left: 30px;
    word-wrap: break-word;
  }
  body div.container div.main div.card div.card-line-1 {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10vw;
    width: 120dvw;
    position: relative;
    top: 5vw;
    left: 20px;
    padding-left: 30px;
    word-wrap: break-word;
  }
  body div.container div.main div.card div.card-line-2 {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    width: 120dvw;
    font-size: 10vw;
    position: relative;
    top: 150vw;
    left: 20px;
    padding-top: 100px;
    padding-left: 30px;
    word-wrap: break-word;
  }
}

/*# sourceMappingURL=styles.css.map */
